<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Deliverable_2_Mendez_Joseph.My.MySettings.Deliverable_2_DatabaseConnectionString"
            connectionString="Data Source=AZERZONE;Initial Catalog=&quot;Deliverable 2 Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>